.rootstyle1{
	-fx-Background-image : url("forJX.jpg");
	-fx-Background-repeat : stretch;
	-fx-Background-size : 1100 660;
	-fx-Background-position : center center;
}
.rootVentes{
    -fx-background-color: white;
}
.formContainer{
    -fx-padding: 25px;
}
.proListContainer{
    -fx-padding: 12px;
}
.refresh{
    -fx-padding: 50px;
    -fx-background-insets: 10px;
    -fx-border-width: 2px;
    -fx-background-color: #126AA0;
    -fx-background-insets: 3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    
    
}
.search{
    
    -fx-background-color: #7b9ecefa;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.gereBtn{
    
    -fx-border-width: 2px;
    -fx-background-color: #F48A28;
    -fx-background-insets: 3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    
    
}
.labelTitle {
	-fx-font-size: 27.0 px ;
	-fx-alignment: center ;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
     -fx-font-weight: bold;
       -fx-margin-bottom: 200px;
    
    }
.labelForm {
    -fx-text-fill: black;  
    -fx-font-size: 14.0 px ;   
    -fx-font-weight: bold; 
}
.textfieldwidth{
	-fx-max-width:600;		
	-fx-min-height:35;	
	
}

.buttonStyle {
  -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.table-row-cell{
	-fx-cell-size: 40.0px;
    -fx-font-size: 14.0px;
    -fx-alignment: CENTER-RIGHT;
    -fx-border-width: 0.009em;
    -fx-border-color: #0079f2;
}
